:root {
    --primario: #FFC107;
    --secundario: #0097A7;
    --oscuro: #212121;
    --anchoPantalla: 1200px;
}

html {
    box-sizing: border-box;
    min-height: 100%;  /** corrige el gradiente del fondo **/
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Noto Sans', sans-serif; 
    min-height: 100%;  /** corrige el gradiente del fondo **/
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem; /** esto sumado al 62.5% termina dando que 1.6rem son 16px **/
  }

  h1, h2, h3 {
    margin: 0;
  }

  h2, h3 {
    text-align: center;
  }

  h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 2rem;
  }

  .site-header {
      background-color: white;
  }

  .site-header nav {
      max-width: var(--anchoPantalla);
      margin: 0 auto;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;   
  }

  @media (min-width:768px) {
    .site-header nav {
        flex-direction: row;
        justify-content: space-between; 
    }
  }

  .site-header nav a {
      color: var(--oscuro); /** usamos el color que definimos en :root**/
      font-size: 2.2rem;
      text-decoration: none;
      margin-bottom: 2rem;
  }

  .site-header nav a:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width:768px) {
    .site-header nav a {
        margin-bottom: 0;
    }
  }

  /** Hero **/

  .hero {
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero::after {
    content:''; /** siempre que usamos el pseudoselector ::after hay que poner content **/
    background-color: rgba(0, 0, 0, .7);
    position: absolute; /** el padre tiene que tener position:relative **/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .contenedor-hero {
    color: white;
    position: relative; /** esto hace que el contenido quede encima del fondo oscuro **/
    z-index: 1; /** esto hace que el contenido quede encima del fondo oscuro **/
    text-align: center;
  }

  .contenedor-hero i {
    font-size: 5rem;
    color:var(--primario);
  }

  .boton {
    background-color: var(--secundario);
    padding: 1rem 5rem;
    display: inline-block; /** le ponemos esto para poder agregarle margin top **/
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    transition: background-color .2s ease-in-out;
  }

  .boton:hover {
    background-color: rgb(13, 125, 138);
  }

  /** Main **/

  .contenedor {
    max-width: var(--anchoPantalla);
    margin: 0 auto;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 3px 2px -1px rgba(122,122,122,1);
    -moz-box-shadow: 0px 3px 2px -1px rgba(122,122,122,1);
    box-shadow: 0px 3px 2px -1px rgba(122,122,122,1);
  }

  .servicios {
    margin: 3rem auto;
  }